#homeSection {
  background-image: url(/Images/HotelOverView.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.TextFontImport {
  font-family: "Mooli", sans-serif;
}

.TextFontImport2 {
  font-family: "Bebas Neue", sans-serif;
}
